# Ignore binary files
remod
remod64

# TEMP: Ignore auto-upgrading mods
src/mod/libmaxminddb
src/mod/libGeoIP

# Ignore anything compiled
*.o
*.a

# config
server-init.cfg

# unnecessary
.vscode
.deps
.libs
src/mod/discord/discord.so
